.header {
  grid-area: header;
  background-color: lavender;
  color: white;
  padding: 20px;
  text-align: center;
}

.sidebar {
  grid-area: sidebar;
  background-color: skyblue;
  color: white;
  padding: 20px;
}

.main-content {
  grid-area: main-content;
  background-color: purple;
  padding: 20px;
}

.widget-panel {
  grid-area: widget-panel;
  background-color: pink;
  color: white;
  padding: 20px;
}

.footer {
  grid-area: footer;
  background-color:lawngreen;
  color: white;
  padding: 20px;
  text-align: center;
}