
        body {
            margin: 0;
            padding: 0;
        }

        nav {
            background-color: rgb(223, 102, 32);
            padding: 10px;
            display: flex;
            justify-content: space-around;
        }

        nav a {
            color: white;
            text-decoration: none;
            padding: 10px;
            font-size: 18px;
        }

        @media (max-width: 1000px) and (min-width: 768px) {
            nav {
                background-color: black;
                display: block;
            }

            nav a {
                display: block;
                padding: 15px;
                color: pink;
            }
        }
        @media (max-width: 500px) {
            nav {
                background-color: rgb(36, 200, 203);
                display: flex;
                justify-content: space-around;
            }

            nav a {
                display: inline-block;
                color: black;
            }
        }

 