header {
  position: fixed;
  width: 100%;
  background-color:  white;
  color: rgb(206, 61, 145);
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  margin-right: 20px;
}

.logo img {
  width: 50px;
  height: 50px;
}

nav ul{
  margin: 0;
  display: flex;
  padding: 0px;
}

nav li {
  margin-right: 20px;
}

nav a {
  color: rgb(34, 28, 126);
}

.content {
  margin-top: 50px; 
}